
* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: linear-gradient( rgb(144, 198, 243), rgb(229, 140, 247));
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 2.0rem;
    font-weight: bold;
    
}
button {
    background: linear-gradient(to bottom, rgb(144, 198, 243), rgb(229, 140, 247));
    color: #fff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    height: 70px;
    width: 180px;
    display: flex;  
    align-items: center;
   
}