<div class="container">
  <h1>Carrinho de Compras</h1>
  <div class="afi1">
    <div class="afi2">
      @if (itens().length === 0) {
        <span class="vazio">O carrinho está vazio.</span>
      }
      @for (item of itens(); track item.produto.id) {
        <div class="items-list">
          <div class="item-image">
            <img src="{{ item.produto.imgs[0] }}" alt="{{ item.produto.nome }}" />
          </div>
          <div class="item-details">
            <h2>{{ item.produto.nome }}</h2>
            <span class="descricao">{{ item.produto.descricao }}</span>
            <span class="valor">R$ {{ item.produto.preco }}</span>
          </div>
          <div class="new">
            <h2>Veludo <br />Noturno</h2>
            <p>
              Intenso e misterioso,<br />
              perfeito para noites especiais.
            </p>
          </div>
          <div class="new2">
            <P>PREÇO UNITARIO</P>
            <h5>R$ 299,99</h5>
          </div>
          <div class="new3">
            <P>QUANTIDADE</P>
            <div class="no">
              <button (click)="decrementar(item.produto.id, item.quantidade)">-</button>
              <span class="quantidade">{{ item.quantidade }}</span>
              <button (click)="incrementar(item.produto.id, item.quantidade, item.produto.estoque)">+</button>
            </div>
          </div>
          <button class="remove" (click)="removerProduto(item.produto.id)">Remover</button>
        </div>
      }
    </div>

    <div class="afi3">
      <div class="a1">
        <h1><p>Total do Carrinho</p></h1>
      </div>
      <div class="b2">
        <div class="v">
          <h5>Subtotal</h5>
          <samp>R$ {{ total() }} </samp>
        </div>
        <div class="v2">
          <h5>Frete</h5>
          <h5>Gratis</h5>
        </div>
      </div>
      <div class="c3">
        <div class="vi">
          <h3>Total</h3>
          <h3>R$ {{ total() }}</h3>
        </div>
      </div>
      <div class="d4">
        <button class="finalizar">Ir para pagamento</button>
        <button class="continuar" routerLink="/produtos">Continuar comprando</button>
      </div>
    </div>
  </div>
</div>
