.container{
    background-color: rgb(255, 210, 154);
    width: 100%;
    height: 3000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.bv{
    height: 200px;
    width: 1500px;
    background-color: aliceblue;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large ;
}
.pai{
    background-color: rgb(201, 186, 169);
    width: 1500px;
    height: 1500px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.fi{
    background-color: rgb(70, 107, 107);
    width: 700px;
    height: 900px;
}
.fia{
    background-color: rgb(201, 186, 169);
    width: 1200px;
    height: 500px;
    margin: 10px;
    display: flex;
    gap: 199px;
    
    
}

img{

    width: 700px;
    height: 900px;
}

.form{
width: 500px;
height:500px ;
background-color: #c49252;
display: flex;
align-items: center;
justify-content: center;
text-align: justify;
border-radius: 50px;
}
.form1{
width:500px;
height:500px;
background-color:#a58357;
display: flex;
align-items: center;
justify-content: center;
text-align: justif;
border-radius: 50px;
padding-left: 15px;
}